@model IEnumerable<DOAN_WEB_NC.Models.ChiTietBangDiemMonHoc>

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BangDiemMonHoc.IDBangDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoHocSinh.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem15p)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem1t)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemTB)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BangDiemMonHoc.IDBangDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoSoHocSinh.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diem15p)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diem1t)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemTB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDChiTietBangDiemMonHoc }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDChiTietBangDiemMonHoc }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IDChiTietBangDiemMonHoc })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
